[data-reach-dialog-content] {
  position: fixed;
  width: 30vw !important;
  top: 0px;
  right: 0px;
  margin: 0 !important;
  min-height: 100vh;
  padding: none !important;
  background-color: rgb(255, 255, 255);
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    button {
      background: $primary-color;
      color: $secondary-color;
      font-size: 1.5rem;
      padding: 8px 32px;
      width: 200px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
    .cart-item {
      margin-bottom: 0.5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 50px);
      img {
        grid-area: 1/1/4/2;
        width: 80%;
        height: auto;
        margin: auto;
      }
      button {
        width: auto;
        font-size: 1rem;
        padding: 5px 7px;
      }
      .cart-item-title {
        grid-area: 1/2/2/4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .cart-item-price {
        grid-area: 2/2/3/3;
      }
      div {
        grid-area: 3/2/4/3;
        align-self: center;
        justify-self: center;
        * {
          margin-right: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  [data-reach-dialog-content] {
    width: 50vw !important;
  }
}

@media screen and (max-width: 480px) {
  [data-reach-dialog-content] {
    width: 85vw !important;
    position: relative;
  }
}
