.home {
  .left {
    position: relative;
    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
    span {
      font-size: 0.7rem;
      position: absolute;
      bottom: 0;
      right: 0;
      color: $primary-color;
      a {
        color: $primary-color;
      }
    }
  }
  .right {
    text-align: center;
    span {
      display: none;
    }
    button {
      background: $primary-color;
      color: $secondary-color;
      font-size: 1.5rem;
      padding: 16px 32px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    .right,
    .left {
      width: 50%;
    }
  }
}
