.cards {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  gap: 1em;
  .card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 10px 10px 10px hsla(0, 14%, 89%, 0.5);
    padding: 10px;
    text-align: center;
    .product-title {
      font-size: 1.2em;
    }
    .product-price {
      font-size: 1.2em;
    }
    button {
      border: none;
      border-radius: 5px;
      background-color: $secondary-color;
      color: $primary-color;
    }
    div {
      margin: auto;
      * {
        width: 40px;
        margin-right: 5px;
      }
    }
    .add-to-cart {
      width: 70%;
      margin: auto;
      padding: 5px 7px;
    }
    img {
      width: 80%;
      height: auto;
      margin: auto;
    }
  }
}

.nav-bar {
  margin: 1rem;
  span {
    font-size: 1.2rem;
  }
  a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
  }
}
